@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --form-control-color: 255, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: monospace;
  font-size:12px;
}

.screen-container {
  width: 256px;
  height: 320px;
}

.unit-header {
  font-weight: bold;
  font-size: 16px;
}

input[type="checkbox"].tick {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  width: calc(80vw/16 - 10px);
  height: 24px;
  margin: 1px;
  cursor: pointer;
}

input[type="checkbox"].tick::before {
  content: "";
  width: calc(80vw/16 - 14px);
  height: 20px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: rgb(25, 200, 95);
}

input[type="checkbox"].tick:checked::before {
  transform: scale(1);
}

input[type="checkbox"].toggle {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  border: 0.15em solid currentColor;
  border-radius: 1em;
  display: grid;
  place-content: center;
  width: 60px;
  height: 28px;
  margin: 1px;
  cursor: pointer;
}

input[type="checkbox"].toggle::before {
  content: "";
  width: 20px;
  height: 20px;
  transform: scale(1);
  border-radius: 50%;
  transition: 120ms all ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: rgb(0, 0, 0);
  transform: translateX(-16px)
}

input[type="checkbox"].toggle:checked::before {
  transform: translateX(16px);
  background-color: rgb(0, 0, 0);
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: rgb(0, 0, 0);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #222;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #222;
  height: 10px;
  width: 2px;
}